@model ReadIt.Models.Category

@{
    ViewData["Title"] = "CategoryDelete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete Category</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Category</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryIntro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryIntro)
        </dd>
    </dl>
    
    <form asp-action="CategoryDelete" asp-controller="Category">
      <input type="hidden" asp-for="CategoryId" />
      <input type="submit" value="Delete" class="btn btn-danger" /> |
      <a asp-action="CategoryIndex"  asp-controller="Category">Back to Catgory List</a> | 
      <a asp-action="Index" asp-controller="Home">Back to Bookshelf</a>
    </form>
</div>
